
@media screen and (max-width: 640px) {
  footer {
    flex-direction: column;
    align-items: flex-start;

    .startUp {
      align-items: center;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(59, 130, 246);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb; /* opcional */
}
